body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}
ul{
  list-style: none;
  padding-left: 16px;
}
ul a{
  text-decoration: none;
  color: #fff;
  display: block;
  padding-bottom: 10px;
  font-size: 24px;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 16px;
  font-size: 32px;
  font-weight: 900;
}
.main{
  display: flex;
  justify-content: stretch;
  flex-grow: 1;
}
.sidebar{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 0 0 200px;
}

.footer{  
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.card{
  width: 250px;
  height: auto; 
  padding: 15px 10px;
}
.content{
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  padding: 20px;
  flex-wrap: wrap;
  
}